.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 24px;
  background: #fff;
  border-radius: 8px;
}

.title {
  font-size: 15px;
  font-weight: 700;
  color: #212121;
}

.content {
  display: flex;
  gap: 12px;
  align-items: center;
}

.text {
  font-size: 13px;
  color: #595959;
}
