.sensitive-banner {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 14px;
  background: var(--figma-color-error-light);
  border-radius: 6px;
}

.icon {
  flex-shrink: 0;
  color: var(--figma-color-error);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-size: 13px;
  font-weight: 500;
  color: var(--figma-color-error);
}

.desc {
  font-size: 12px;
  font-weight: 400;
  color: var(--figma-color-gray-8);
}
