.badge {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  height: 24px;
  padding: 0 8px;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 12px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
